In [47]:
import pandas as pd
import glob
from datetime import datetime

In [48]:
# Get a list of all the file paths that ends with .csv
all_files = glob.glob("crawl_13_features\*.csv")
extend_files = glob.glob("crawl_fed_and_gold\*.csv")
all_files.extend(extend_files)
all_files.remove('crawl_fed_and_gold\\Gold.csv')
all_files

['crawl_13_features\\copper.csv',
 'crawl_13_features\\crude_oil.csv',
 'crawl_13_features\\DXY.csv',
 'crawl_13_features\\EURUSD.csv',
 'crawl_13_features\\MSCI.csv',
 'crawl_13_features\\NASDAQ.csv',
 'crawl_13_features\\NLR.csv',
 'crawl_13_features\\platinum.csv',
 'crawl_13_features\\rice.csv',
 'crawl_13_features\\RUT.csv',
 'crawl_13_features\\silver.csv',
 'crawl_13_features\\SP500.csv',
 'crawl_13_features\\VIX.csv',
 'crawl_fed_and_gold\\FED.csv']

In [49]:
import pandas as pd

# Read the 'gold.csv' file
gold_data = pd.read_csv('crawl_fed_and_gold\\Gold.csv')  # Replace 'path/to/files/' with your directory

# Convert the 'date' column to datetime if it's not already in datetime format
gold_data['date'] = pd.to_datetime(gold_data['date'])

# Loop through each file and merge based on the 'date' column
for file_path in all_files:
    data = pd.read_csv(file_path)  # Read data from each file
    data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed

    # Merge data based on the 'date' column
    gold_data = pd.merge(gold_data, data, on='date', how='left')

gold_data.rename(columns = {'Open': 'GOLD_open',
                              'High': 'GOLD_high',
                              'Close': 'GOLD_close',
                              'Low': 'GOLD_low',
                              'date': 'Date'} ,inplace=True)
gold_data = gold_data.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0_y'])

# Save the merged data to a new file or use it for further analysis
gold_data.to_csv('merged_data_complete.csv', index=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  gold_data['date'] = pd.to_datetime(gold_data['date'])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed
C:\Users\Administrator\AppData\Local\Temp\ipykernel_7940\485682576.py:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])  # Convert 'date' column to datetime if needed

In [50]:
gold_data

,Date,GOLD_open,GOLD_high,GOLD_low,GOLD_close,copper,crude_oil,DXY,EURUSD,MSCI,NASDAQ,NLR,platinum,rice,RUT,silver,SP500,VIX,FED
0,2023-11-24,1991.2,2004.5,1990.9,2003.0,3.7965,75.54,103.40,1.0906,528.35,14250.85,75.21,931.1,1756.5,1807.50,24.329,4559.34,12.46,NaN
1,2023-11-22,1999.1,1999.4,1991.0,1991.4,3.7665,77.10,103.92,1.0918,523.97,14265.86,74.94,924.6,1730.0,1795.54,23.672,4556.62,12.85,NaN
2,2023-11-21,1990.7,2005.5,1988.5,1999.3,3.8145,77.77,103.57,1.0946,524.89,14199.98,74.50,940.0,1750.0,1783.26,23.843,4538.19,13.35,NaN
3,2023-11-20,1978.7,1979.4,1969.7,1977.7,3.8125,77.60,103.47,1.0907,522.21,14284.53,75.09,921.5,1739.5,1807.08,23.579,4547.38,13.41,NaN
4,2023-11-17,1982.5,1984.0,1979.8,1981.6,3.7375,75.89,103.82,1.0854,521.42,14125.48,74.22,894.7,1740.5,1797.77,23.809,4514.02,13.80,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3442,2010-07-04,1152.2,1152.3,1144.0,1152.2,3.5810,85.39,81.53,1.3361,37.31,2431.16,69.75,1711.1,1300.0,699.46,18.116,1182.45,16.62,NaN
3443,2010-06-04,1152.3,1153.0,1132.6,1152.3,3.5920,85.88,81.44,1.3348,37.37,2436.81,70.59,1717.2,1297.0,701.48,18.185,1189.44,16.23,NaN
3444,2010-05-04,1130.8,1138.5,1122.7,1135.1,3.6095,86.84,81.39,1.3402,36.98,2429.53,70.44,1698.5,1297.5,697.65,17.917,1187.44,17.02,NaN
3445,2010-04-04,1122.3,1133.3,1119.9,1132.9,3.6260,86.62,81.09,1.3489,NaN,NaN,NaN,1703.8,1265.5,NaN,18.104,NaN,NaN,NaN
3446,2010-03-31,1125.1,1127.7,1111.3,1125.1,3.5770,84.87,80.78,1.3584,NaN,NaN,NaN,1669.8,1238.0,NaN,17.876,NaN,NaN,NaN

In [52]:
gold_data.columns

Index(['Date', 'GOLD_open', 'GOLD_high', 'GOLD_low', 'GOLD_close', 'copper',
       'crude_oil', 'DXY', 'EURUSD', 'MSCI', 'NASDAQ', 'NLR', 'platinum',
       'rice', 'RUT', 'silver', 'SP500', 'VIX', 'FED'],
      dtype='object')